html{
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #000;
  color: white;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;

}
.icon {
  font-size: 70px;
  margin-left: 40px;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
  
}
.nav-link {
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  color: white;
}
.button {
  border: 1px solid yellow;
  border-radius: 5px;
  padding: 7px;
}
.mobile-menu-icon {
  font-size: 30px;
  margin-right: 20px;
  display: none;
}
.menu-icon-close,
.menu-icon-open {
  cursor: pointer;
}
@media screen and (max-width: 1210px) {
  .nav-link {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .nav-link {
    font-size: 11px;
  }
}
@media screen and (max-width: 900px) {
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    top: 75px;
    transition: all 0.5s ease-out;
    background-color: #000;
    z-index: 999;
  }
  .nav-link {
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease-out;
  }
  .button {
    border: none;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    background-color: #000;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }
}
@media screen and (max-width: 899px) {
  .nav-link {
    font-size: 15px;
    
  }

}