.about-us {
  padding: 50px;
  text-align: center;
  background-color: #000;
  color: white;
}
.about-content {
  color: white;
}
.display {
  display: flex;
  justify-content: space-between;
}
.different {
  max-width: 33%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  text-align: left;
}
.h1-dif {
  margin: 0 auto;
  position: relative;
  font-size: max(25px, 2.35vw);
  text-transform: uppercase;
  line-height: 1.5;
  position: relative;
  background-image: linear-gradient(#fff, #fff);
  background-size: auto auto !important;
  background-clip: border-box !important;
  background-size: 200% auto !important;
  color: #fff;
  background-clip: text !important;
  -text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  display: inline-block;
}

.different p {
  color: white;
  margin-top: 10px;
  line-height: 30px;
}
.about-img {
  content: url("./../../images/About-us.jpg");
  height: 700px;
  width: 50%;
  border: 1px solid white;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
}
.about-img:hover {
  animation: shake 5s;

  animation-iteration-count: infinite;
}
.about-title {
  font-size: max(25px, 2.35vw);
  text-transform: uppercase;
  line-height: 1.5;
  position: relative;
  background-image: linear-gradient(#fff, #fff);
  background-size: auto auto !important;
  background-clip: border-box !important;
  background-size: 200% auto !important;
  color: #fff;
  background-clip: text !important;
  -text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  display: inline-block;
}

@keyframes shake {
  0% {
    transform: translate(10px, 10px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media (max-width: 1125px) {
  .display {
    display: flex;
    flex-direction: column;
  }
  .h1-dif {
    font-size: 15px;
  }
  .about-section {
    text-align: left;
  }
  .about-title {
    font-size: 23px;
  }
  .different {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }
  .different p {
    line-height: 30px;
    font-size: 13px;
  }
  .about-img {
    width: 100%;
    height: 530px;
    border-radius: 20px;
  }
}

@media (max-width: 575px) {
  .about-section {
    text-align: left;
  }
  .about-title {
    font-size: 23px;
  }
  .different {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }
  .different p {
    line-height: 30px;
    font-size: 13px;
  }
  .about-img {
    display: none;
  }
}
